@font-face {
    font-family: digital;
    src: url(digital_italic.ttf);
}

body{
    line-height: 0.75;
}

div {
    font-family: digital;
}

.content{
    height: 100%;
    margin: 0px;
    padding: 0px;
   /* line-height:200px;*/
}
.content-top{
    font-family: digital;
    font-weight: bold;
    text-align: center;
    color: green;
    border: 10px dashed green;
    max-height: 50%;
}

.content-bottom {
    font-family: digital;
    font-weight: bold;
    color: orangered;
    text-align: center;
    border: 10px dashed orangered;
    min-height: 50%;
}