@font-face {
    font-family: digital;
    src: url(digital_italic.ttf);
}

div {
    font-family: digital;
}

#date_heure {
    font-family: digital;
    font-weight: bold;
    font-size: 14em;
    text-align: center;
    color: green;
    border: 10px dashed green;
    min-height: 50%;
    padding:1%;
}

#minuteur {
    font-family: digital;
    font-weight: bold;
    font-size: 12em;
    color: orangered;
    text-align: center;
    border: 10px dashed orangered;
    min-height: 50%;
    padding:1%;
}